/* Theme */
/* Slider */
/* Icons */
/* Arrows */
/*.slick-prev{
    padding:0 20px 0 0;
}
.slick-next{
    padding:0 0 0 20px;
}*/
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  height: 75px;
  width: 25px;
  padding: 0;
  z-index: 90;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:hover:after,
.slick-next:hover:before,
.slick-next:hover:after{
  background-color: #a083c4;
}

.slick-prev.slick-disabled:before,
.slick-prev.slick-disabled:after,
.slick-next.slick-disabled:after,
.slick-next.slick-disabled:before
{
    background-color: #a083c4;
}
.slick-next:before {
  -webkit-transform: rotateZ(-125deg) translateX(21px);
  -ms-transform: rotate(-125deg) translateX(21px);
  transform: rotateZ(-125deg) translateX(21px);
}

.slick-next:after {
  -webkit-transform: rotateZ(125deg) translateX(21px);
  -ms-transform: rotate(125deg) translateX(21px);
  transform: rotateZ(125deg) translateX(21px);
}

.slick-prev:before {
  -webkit-transform: rotateZ(-55deg) translateX(21px);
  -ms-transform: rotate(-55deg) translateX(21px);
  transform: rotateZ(-55deg) translateX(21px);
}

.slick-prev:after {
  -webkit-transform: rotateZ(55deg) translateX(21px);
  -ms-transform: rotate(55deg) translateX(21px);
  transform: rotateZ(55deg) translateX(21px);
}

.slick-prev:after, .slick-prev:before {
  position: absolute;
  left: -24px;
}

.slick-next:before, .slick-next:after {
  position: absolute;
  right: -24px;
}

.slick-prev:before,
.slick-next:before,
.slick-prev:after,
.slick-next:after {
  line-height: 1;
  display: block;
  width: 45px;
  height: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #735d8e;
  content: '';
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

/* Dots */
.slick-dots {
  position: absolute;
  top: -webkit-calc(100% + 20px);
  top: calc(100% + 20px);
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li + li {
  margin-left: 16px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  text-align: center;
  padding: 0;
  height: 16px;
  background-color: transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #593a7f;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  -webkit-transition: background .7s;
  -o-transition: background .7s;
  transition: background .7s;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: height .3s , width .3s, background .3s;
  -o-transition: height .3s , width .3s, background .3s;
  transition: height .3s , width .3s, background .3s;
  cursor: pointer;
  background-color: transparent;
  color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  margin: auto;
  width: 0;
  height: 0;
}

.slick-dots li:hover button {
  background: #593a7f;
  height: 8px;
  width: 8px;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li.slick-active {
  background: #593a7f;
}

.slick-dots li.slick-active button {
  width: 100%;
  height: 100%;
  background: #593a7f;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: 110px;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
